body {
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(-45deg, #ffffcc, #FFD500, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer {
    font-size: 0.75rem;
    font-weight: bold;
    background: black;
    padding: 1rem;
    color: white;
    position: fixed;
    text-align: center;
    left:0;
    bottom:0;
    right:0;
}

.email::before {
    content: attr(user) "\0040";
}
.email::after {
    content: attr(domain);
}

@font-face {
    font-family: "Vertigo";
    src: local("Vertigo"), url(./fonts/ArimaKoshi-Medium.woff) format("woff")
}